<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>luvin.client</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.739530272416-jlieuvc6irerbk9ha7bhpgp4u8m5bj3s</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
